canvas.svelte-1dotgg0{max-width:100%;height:auto;margin:0 auto}
canvas.svelte-1dotgg0{max-width:100%;height:auto;margin:0 auto}
canvas.svelte-1dotgg0{max-width:100%;height:auto;margin:0 auto}
canvas.svelte-1dotgg0{max-width:100%;height:auto;margin:0 auto}
canvas.svelte-1dotgg0{max-width:100%;height:auto;margin:0 auto}
canvas.svelte-1dotgg0{max-width:100%;height:auto;margin:0 auto}
canvas.svelte-1dotgg0{max-width:100%;height:auto;margin:0 auto}
main.svelte-oboj2w{text-align:center;padding:2em}h1.svelte-oboj2w,h2.svelte-oboj2w{margin:0 20px}p.svelte-oboj2w{text-align:justify;margin:2em 20px}
